{% extends "main/base.html" %}


{% block content %}
<div class="container flex flex-col">

    <div class="flex flex-col mx-auto">
        <h1 class="text-5xl text-black self-center">Please answer the following Question</h1>
    </div>

    <section class="flex flex-col mx-auto items-center">
        <form method="POST">
            {% csrf_token %}
            <div class="mt-10">
                <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput2"
                        class="form-label inline-block mb-2 text-gray-700 text-xl">Please
                        Enter your name:</label>
                    {{ form.name }}
                </div>

                <button type="submit" class="inline-block px-6 py-2 border-2
                     border-blue-400 text-blue-400 font-medium text-xs leading-tight uppercase rounded
                     hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 
                     transition duration-150 ease-in-out">Submit</button>

            </div>
        </form>
    </section>
</div>
{% endblock content %}